<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>فال حافظ</title>
    <meta name="robots" content="noindex">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/main.css">

</head>

<body>
    <style>
        * {
            direction: rtl;
        }
    </style>

    <section class="hero">
        <div class="col-big">
            <h4>چطور فال حافظ بگیریم ؟</h4>
            <p>
                روش صحیح گرفتن فال حافظ
                یک نفر از بزرگان خانواده یا کسی که بتواند شعر را به خوبی بخواند یا کسی که دیگران معتقدند به اصطلاح خوب
                فال می‌گیرد ابتدا نیت می‌کند، یعنی در دل آرزویی می‌کند. سپس به طور تصادفی صفحه‌ای را از کتاب حافظ
                می‌گشاید و با صدای بلند شروع به خواندن می‌کند. کسانی که ایمان مذهبی داشته باشند هنگام فال گرفتن فاتحهای
                می‌خوانند و سپس کتاب حافظ را می‌بوسند، آنگاه با ذکر اورادی آن را می‌گشایند و فال خود را می‌خوانند.
                نیت کننده معمولاً در هنگام تفأل از دیوان حافظ، او را به عزیزترین کسانش یعنی به خداوند و معشوقه اش (شاخ
                نبات) قسم می دهد. این قسم معمولاً به این شکل ادا می شود (ضمن اینکه شاید بهتر باشد برای شادی روح حافظ،
                صلوات یا فاتحه ای نثار نماییم):</p>
        </div>

        <div class="col-med">
            <img src="/static/hafeziee.png" />
        </div>
    </section>

    <section>
        <img src="/static/pem.jpg" class="center-image" />
    </section>

    <div class="fal-content">
        <h1></h1>
        <div class="org-content"></div>
        <audio controls hidden></audio>
    </div>
    <button type="button" class="faal">نیت کنید و کلیک کنید.<i></i></button>

    <script>

        function runFal() {
            return new Promise((resolve, reject) => {
                fetch('/falfront')
                    .then((res) => {
                        console.log(res.status);
                        // بررسی کد وضعیت
                        if (!res.ok) { // اگر وضعیت کد 2xx نباشد
                            return reject({
                                status: res.status,
                                message: `Request failed with status ${res.status}`,
                            });
                        }

                        // ادامه پردازش اگر وضعیت 2xx باشد
                        return res.json();
                    })
                    .then((data) => {
                        resolve(data);
                    })
                    .catch((err) => {
                        // مدیریت خطاهای احتمالی
                        reject(err);
                    });
            });
        }

        document.querySelector('.faal').addEventListener('click', async () => {
            let data = await runFal();
            console.log(data);
            if (!data.ok) {
                alert(data.message);
                return
            }
            document.querySelector('h1').textContent = data.title;
            document.querySelector('.fal-content .org-content').innerHTML = data.content;
            document.querySelector('.fal-content audio').setAttribute('src', data.src);
            document.querySelector('.fal-content audio').removeAttribute('hidden');
            document.querySelector('.faal').setAttribute('disabled', true);

            let timerActive = 16;
            requestAnimationFrame(() => {
                let btnTimer = setInterval(() => {
                    --timerActive;
                    document.querySelector('.faal i').innerHTML = `${timerActive}`;
                    if (timerActive <= 0) {
                        clearInterval(btnTimer);
                        document.querySelector('.faal').removeAttribute('disabled');
                        document.querySelector('.faal i').innerHTML = ``;
                    }
                }, 1000);
            });

        })
    </script>
</body>

</html>