* {
    font-family: "Vazirmatn", sans-serif;
}

@font-face {
    font-family: 'Golpayegani';
    src: url('../Webfonts//SD-Golpayegani\ Grunge.woff2') format('woff2'), url('../Webfonts//SD-Golpayegani\ Grunge.woff') format('woff'), url('../Webfonts//SD-Golpayegani\ Grunge.eot?#') format('eot');
}

body {
    margin: 0;
    font-family: "Vazirmatn", sans-serif;
    /* max-width: 950px; */
    margin: 0 auto;
}


section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    margin: 40px auto;
    gap: 24px;
}

.hero {
    margin-top: 0;
    padding: 24px;
    padding-bottom: 0;
    background: #bbf1ef;
    background: -moz-linear-gradient(top, rgba(187, 241, 239, 1) 0%, rgba(194, 235, 246, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(187, 241, 239, 1) 0%, rgba(194, 235, 246, 1) 100%);
    background: linear-gradient(to bottom, rgba(187, 241, 239, 1) 0%, rgba(194, 235, 246, 1) 100%);
    border-bottom: 2px solid #323648;
}

section h4 {
    font-size: 2em;
    word-spacing: -2px;
    text-align: right;
    font-weight: 700;
    margin-bottom: 25px;
    color: #323648;
}

section .col-big {
    width: 60%;
    text-align: justify;
    line-height: 1.75;
}

button.faal {
    border: none !important;
    background-color: #1894ff;
    border-radius: 10px;
    margin-top: 16px;
    font-size: 1.2em;
    padding: 16px 24px;
    word-spacing: -3px;
    max-width: 100%;
    color: #fff;
    margin: 20px auto;
    display: block;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

.center-image {
    margin: 0 auto;
}

.fal-content {
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
    font-family: 'Golpayegani';
    line-height: 1.85;
}

.fal-content p {
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
    font-family: 'Golpayegani';
}

button.faal[disabled] {
    opacity: 0.5;
    pointer-events: none;
}

@media screen and (max-width:640px) {
    .hero {
        flex-wrap: wrap;
    }

    .hero>div {
        width: 100%;
    }

    .fal-content h1,
    .fal-content h2 {
        font-size: 26px;
        font-weight: bold;
        border-bottom: 2px solid #636363;
    }

    .fal-content h2 {
        font-size: 24px;
    }
}